@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

@keyframes grid-glow {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.animate-grid-glow {
  animation: grid-glow 5s ease-in-out infinite;
  opacity: 0;
}